
#top{
    position: relative;
    height: 870px;
    overflow: hidden;
}
#topTextTitle{
    margin: auto;
    font-size: 150px;
    color: rgb(168 242 255);
    text-shadow: 10px 10px #e4d9ff;
}
.topText{
    margin: auto;
}
.topText h2{
    color: white;
    text-shadow: 2px 2px black;
}
#topBackgroundImage{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}
#groupTwitter{
    max-width: 1200px;
    min-width: 300px;
    width: 70%;
    height: 1500px;
    overflow: scroll;
    margin: auto;
    margin-top: 100px;
}

@media screen and (max-width:480px) {
    #top{
        height: 570px;
    }
    #topTextTitle{
        font-size: 80px;
    }
    #topBackgroundImage{
        height: 570px;
    }

    .topText h2{
        font-size: 20px;
    }
}

@media screen and (min-width:600px) {
    #topTextTitle{
        font-size: 100px;
    }
    .topText h2{
        font-size: 35px;
    }
}
@media screen and (min-width:1400px) {
    #topTextTitle{
        font-size: 150px;
    }
    .topText h2{
        font-size: 55px;
    }
}