#eachLinks{
    margin-top: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
}
#eachLinks a{
    position: relative;
}
.eachIcons{
    border: 10px solid rgb(168 242 255);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.eachIcons img{
    width: 950px;
    position: absolute;
    left: -300px;
    top: -30px;
}
#komutya img{
    background-color: rgb(239 208 101);
    left: -285px;
}
#rainsa img{
    background-color: rgb(42 40 105);
    left: -305px;
}
#oji img{
    background-color: rgb(157 192 49);
}
#norakun img{
    background-color: rgb(153 205 205);
    width: 800px;
    left: -250px;
}
.eachName{
    width: 320px;
    height: 100px;
}
.eachName{
    font-size: 20px;
    width: 320px;
    position: absolute;
    top: 250px;
    color: black;
}