#mainContainer{
    display: grid;
    grid-template-columns: 6fr 5fr;
}

#infoImagesContainer{
    display: grid;
    justify-content: end;
}
#standImageContainer{
    max-width: 2000px;
}
#infoImage{
    width: 100%;
    filter: drop-shadow(15px 10px 0px gray);
}

#infoTextsContainer{
    display: grid;
    justify-content: start;
    max-width: 800px;
    grid-template-rows: 50px 1fr 880px;
}
#introductionTextsContainer{
    grid-template-rows: 1fr;
    min-width: 600px;
    max-width: 750px;
    height: 100%;
    min-height: 300px;
    justify-content: center;
    border: solid 3px black;
    border-radius: 10px;
    grid-row: 2;
}
#nameBox{
    text-align: center;
    align-content: center;
}
#nameBox h1{
    font-size: 80px;
    margin: auto;
}
#introductionBox{
    min-height: 300px;
    display: grid;
    align-items: center;
}
#introductionBox h5{
    font-size: 30px;
    margin: 0;
}
#twitterContainer{
    grid-row: 3;
    margin-top: 20px;
}

@media screen and (max-width:480px) {
    #mainContainer{
        grid-template-columns: none;
        grid-template-rows: 1fr;
    }
    #infoTextsContainer{
        grid-template-columns: none;
        grid-template-rows: 20px 1fr 500px;
    }

    #infoImage{
        filter: drop-shadow(10px 5px 0px gray);
    }

    #introductionTextsContainer{
        min-width: 90%;
    }
    #nameBox h1{
        font-size: 40px;
    }
    #introductionBox h5{
        font-size: 25px;
    }
}